@import './mediaqueries.scss';
@import './colors.scss';

@mixin latoFont {
    font-family: 'Lato', sans-serif;
}

@mixin logoFont {
    font-family: glossAndBloom;
}

@mixin responsiveFonts($desktop, $tablet, $mobile) {
    @include desktop {
        font-size: $desktop;
    }

    @include tablet {
        font-size: $tablet;
    }

    @include mobile {
        font-size: $mobile;
    }
}

@mixin responsiveBottomPadding {
    @include desktop {
        padding-bottom: 150px;
    }

    @include tablet {
        padding-bottom: 100px;
    }

    @include mobile {
        padding-bottom: 32px;
    }
}

@mixin responsiveWidth {
    width: 50%;

    @include mobile {
        width: 100%;
    }
}

@mixin responsiveHeights($desktop, $tablet, $mobile) {
    @include desktop {
        height: $desktop;
    }

    @include tablet {
        height: $tablet;
    }

    @include mobile {
        height: $mobile;
    }
}

@mixin responsiveMinHeights($desktop, $tablet, $mobile) {
    @include desktop {
        min-height: $desktop;
    }

    @include tablet {
        min-height: $tablet;
    }

    @include mobile {
        min-height: $mobile;
    }
}

@mixin responsiveWidths($desktop, $tablet, $mobile) {
    @include desktop {
        width: $desktop;
    }

    @include tablet {
        width: $tablet;
    }

    @include mobile {
        width: $mobile;
    }
}

@mixin responsiveBorderRadius($desktop, $tablet, $mobile) {
    @include desktop {
        border-radius: $desktop;
    }

    @include tablet {
        border-radius: $tablet;
    }

    @include mobile {
        border-radius: $mobile;
    }

}

@mixin responsiveMarginTop($desktop, $tablet, $mobile) {
    @include desktop {
        margin-top: $desktop;
    }

    @include tablet {
        margin-top: $tablet;
    }

    @include mobile {
        margin-top: $mobile;
    }
}

@mixin responsiveLetterSpacing($desktop, $tablet, $mobile) {
    @include desktop {
        letter-spacing: $desktop;
    }

    @include tablet {
        letter-spacing: $tablet;
    }

    @include mobile {
        letter-spacing: $mobile;
    }
}