@import '../../themes/commons.scss';

@mixin hideMenuIcons {
    @include desktop {
        width: 0px !important;
    }
    @include tablet {
        width: 0px !important;
    }
}

.nav-container {
    padding: 5vh 5vw;
    @include latoFont();
    position: fixed;
    width: 100%;
    .nav-content {
        display: flex;
        align-items: center;
        .nav-ham {
            @include hideMenuIcons();
        }

        .nav-close {
            @include hideMenuIcons();
        }

        .nav-links {
            @include mobile {
                width: 0px !important;
            }
        }
    }
}